<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>King Kong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/android-chrome-manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%if (prod) { %>
        <% include partials/src-min %>
    <% } else { %>
        <% include partials/src-dev %>
    <% } %>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div id="landscapeModal">
    <p><b>Rotate Device to Landscape</b>
    </p>
</div>

<div id="appContainer">
    <div id="canvasHolder">
        <canvas id="app"></canvas>
        <div id="preloader">
            <div class="content">
                <div class="vertical-center">
                    <div id="loadState">Loading...</div>
                    <div id="loadPercentage">0%</div>
                    <div id="initializeState"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="desktopControls">
        <div id="qrcode">
            <p>Try it on your phone</p>
        </div>
        <div id="meter">
            <fieldset>
                <legend>Meter Component</legend>
                <label for="linesField">LINES</label>
                <input id="linesField" type="number" value="30" step="5" max="30"/>
                <label for="betField">PER LINE</label>
                <input id="betField" type="number" value="25.00" min="25" step="125"/>
                <span id="totalBetText">BET: 750.00</span>
                <br />

                <button id="maxBet" class="medium">MAX BET</button>
                <button id="spinReels" class="medium">SPIN</button>
                <br />

                <button id="autoSpin" class="small">AUTO</button>
                <button id="payTable" class="small">PAYTABLE</button>
                <button id="cashOut" class="small">CASH OUT</button>

            </fieldset>

        </div>
    </div>
    <div id="debug">
        <div class="content">
            <div id="console"></div>
        </div>
    </div>
</div>


<script>

    <%if (prod) { %>
        var clientServer = {};
        clientServer.enviroment = "prod";
    <% } %>


    (function(window) {
        /**
        *  Required for older browsers to support Promises
        * */
        ES6Promise.polyfill();
        /**
         * Application Entry Point
         * */
        var main = new G.Main();
        main.init();


    })(window);


</script>
</body>
</html>