body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#app {
    background-color: #000000;
    float: left;
}

#preloader {
    width: 667px;
    height: 350px;
    position: relative;

    background-color: black;

}

#preloader .content {
    position: absolute;
    width: 100%;
    color: #5ba490;
    font-size: 18px;
}

.vertical-center {
    display: inline-block;

}