body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

a {
    color: #00B7FF;
}

#app {
    width: 640px;
    height: 320px;
    background-color: #000066;
}